@{
    ViewData["Title"] = "About";
}

<div style="margin-left: 16px">
    <h3 style="background-color: white; width: fit-content">Our Story...</h3>
    <p style="background-color: white; width: fit-content">
        We are a growing online retailer store that wants you to be satisfied with our services.
        Our mission is for you to enjoy our products and services<br /> that we sell.
        Our store did not initially perform well with selling goods and services because
        we did not have this kind of technology back then.<br />We try our best to improve every aspect of
        our products and services. If you are unsatisfied with anything, please let us know by sending<br />
        a message to us. <a href="/Home/Contacts">Click here to give us feedback</a>
    </p>
</div>