
@{
    ViewData["Title"] = "Contacts";
}

<div style="margin-left: 16px">
    <h2>Contact Us...</h2>

    <div>
        <b>Send us a message:</b><br />
        <textarea style="width: 50%; height: 300px"></textarea><br />
        <button>Send Message</button>
    </div>
</div>

