@{
    ViewData["Title"] = "Contacts";
}

<div style="margin-left: 16px">

    <div align="center">

        <div style="width: fit-content">
            <br />
        <h2 style="background-color: white; width: fit-content">Contact Us...</h2>

        <span style="font-size: 14pt; background-color: white">Please send us feedback to help us improve our website, products and services.</span>
        <br />
        <br />
        </div>
        <div style="width: 600px">
            <p align="left" style="margin: 0px"><b style="background-color: white; width: fit-content">Send us a message:</b><br /></p>
            <textarea style="width: 100%; height: 300px"></textarea><br />

            <div align="right">
            <button class="button-class">Send Message</button>
            </div>
        </div>
    </div>
</div>

