@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-left: 16px">

    <div align="center">
        <div style="width: 90%; background-color: white">
        <br />
        <br />
        <h1>Explore our amazing products...</h1>
        <a href="/Home/Products">Explore Now</a>
        <br />
        <br />
        </div>
    </div>

    <div align="center">
        @{
            var storage = DataStorage.MultimediaStorage;
            var items = storage.RecieveData("/homepage-images/");

            foreach (var item in items)
            {
                string s = storage.GetFullPath(item.Split(':')[0]);
                <img src="@s" style="width: 90%; height: 500px; border-width: 5px; border-color: black; border-style: solid" />
                <br />
                <br />
            }
        }
    </div>

</div>