@{
    ViewData["Title"] = "Products";

    var resources = Resources.ProductCategoryImages;

    <div align="center">

        <div style="background-color: white">
            <br />
            <br />
            <h1>Our Products</h1>
            <h4>Browse for product(s) by category...</h4>
            <br />
            <br />
        </div>

        @{
            int count = 0;

            foreach (var resource in resources)
            {
                <div style="background-color: black; height: 3px"></div>

                <div>
                    <div>
                        <br />
                        <div style="background-color: black; width: 300px">
                            <div style="height: 0.5rem"></div>
                            <h4 style="font-weight: bold; margin: 0px; color: white">@Resources.ProductCategories[count]</h4>
                            <div style="height: 0.5rem"></div>
                        </div>
                        <br />

                        @{
                            if (resource.EndsWith(".png"))
                            {
                                <img src="@resource" height="400" />
                            }
                            else
                            {
                                <img src="@resource" height="400" style="border-color: black; border-width: 3px; border-style: solid" />
                            }
                        }
                        <br />
                        <br />

                        @{
                            string category = Resources.ProductCategories[count].Replace(" ", string.Empty);
                        }

                        <button class="button-class" onclick="window.location = '/Home/ProductDisplay?Category=@category'">View All Products</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>

                count++;
            }
        }
    </div>
}