@{
    ViewData["Title"] = "Products";

    var resources = Resources.ProductCategoryImages;

    <div align="center">

        <div style="background-color: white">
            <br />
            <br />
            <h1>Our Products</h1>
            <h4>Browse for product(s) by category...</h4>
            <br />
            <br />
        </div>

        @{
            foreach (var resource in resources)
            {
                <div style="background-color: black; height: 3px"></div>

                <div>
                    <div>
                        <br />
                        <div style="background-color: black; width: 300px">
                            <div style="height: 0.5rem"></div>
                            <h4 style="font-weight: bold; margin: 0px; color: white">Televisions</h4>
                            <div style="height: 0.5rem"></div>
                        </div>
                        <br />
                        <img src="@resource" height="400" />
                        <br />
                        <br />
                        <button class="button-class">View All Products</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            }
        }
    </div>
}