
@{
    ViewData["Title"] = "SignUp";
}

<div align="center">
    <img src="~/images/user-profile.png" height="180" />
    <br />
    <br />
    <h1 style="background-color: white; width: fit-content">Sign Up</h1>
    <p style="background-color: white; width: fit-content">Please enter your details to create your account with ABC Retail.</p>
    
    <div style="width: fit-content">
    <table cellpadding="2">
        <tr>
            <th>UserName:</th>
            <td><input id="txtUserName" type="text" value="" style="width: 240px" /></td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td><input id="txtFirstName" type="text" value="" style="width: 240px" /></td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td><input id="txtLastName" type="text" value="" style="width: 240px" /></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input id="txtPassword" type="password" value="" style="width: 240px" /></td>
        </tr>
        <tr>
            <th>Confirm Password:</th>
            <td><input id="txtConfirmPassword" type="password" value="" style="width: 240px" /></td>
        </tr>
    </table>
    <br />

    <button class="button-class button-class-small" onclick="SignUp(txtUserName.value, txtFirstName.value, txtLastName.value, txtPassword.value, txtConfirmPassword.value)">Create Account</button>
    <br />
    <button class="button-class button-class-small" onclick="RedirectToHomePage()">Cancel</button>
    </div>
</div>
