
@{
    ViewData["Title"] = "SignIn";
}

<div align="center">
    <h1>Sign In</h1>

    <table>
        <tr>
            <th>UserName:</th>
            <td><input id="txtUserName" type="text" value="" style="width: 240px" /></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input id="txtPassword" type="text" value="" style="width: 240px" /></td>
        </tr>
    </table>

    <button onclick="SignIn(txtUserName.value, txtPassword.value)">Sign In</button>
    <button onclick="RedirectToHomePage()">Cancel</button>
</div>